{% extends 'firstapp/base_search_for_earphones.html' %}
{% block content %}
	{% if object_list %}
	{# self.object_list will contain the list of objects (usually, but not necessarily a queryset) that the view is operating upon #}
		<div>
		    {% for earphone in object_list %}
			<ul>
		        <li><a href="">{{ earphone.earphone_name }}</a></li>
		        <li>{{ earphone.brand_name }}</li>
		        <li>{{ earphone.price }}</li>
		        <li>{{ earphone.earphone_type }}</li>
		        <li>
			    {% for feature in earphone.earphone_features %}
					{{ feature }}
			    {% endfor %}
		        </li>
		        <li><img src="{{ earphone.earphone_image.url }}" /></li>
		    </ul>
		    {% endfor %}
		</div>
	{% else %}
	    <p>No earphones are available.</p>
	{% endif %}
{% endblock content %}