{% extends 'firstapp/base.html' %}
{% load static %}
{% block content %}
	<div>
		<div>
			<span>Features: </span>
			<a href="{% url 'firstapp:search-for-earphones-feature' 'Microphone' %}">Microphone</a>
			<a href="{% url 'firstapp:search-for-earphones-feature' 'Wireless' %}">Wireless</a>
			<a href="{% url 'firstapp:search-for-earphones-feature' 'Phone-Control' %}">Phone-Control</a>
		</div>
		<div>
			<form action="{% url 'firstapp:search-for-earphones' %}" method="get">
			{% csrf_token %}
				<span>Types: </span>
				<input type="radio" name="earphone-type" id="type-earbunds" value="Earbud"/>
				<label for="type-earbunds">Earbud</label>
				<input type="radio" name="earphone-type" id="type-earbunds" value="On-Ear"/>
				<label for="type-earbunds">On-ear</label>
				<input type="radio" name="earphone-type" id="type-earbunds" value="Over-Ear"/>
				<label for="type-earbunds">Over-ear</label>
				<input type="text" name="query-string" />
				<input type="submit" value="search" />
			</form>
		</div>
	</div>
	{% if object_list %}
	{# self.object_list will contain the list of objects (usually, but not necessarily a queryset) that the view is operating upon #}
		<div>
		    {% for earphone in object_list %}
			<ul>
		        <li><a href="">{{ earphone.earphone_name }}</a></li>
		        <li>{{ earphone.brand_name }}</li>
		        <li>{{ earphone.price }}</li>
		        <li>{{ earphone.earphone_type }}</li>
		        <li>
			    {% for feature in earphone.earphone_features %}
					{{ feature }}
			    {% endfor %}
		        </li>
		        <li><img src="{{ earphone.earphone_image.url }}" /></li>
		    </ul>
		    {% endfor %}
		</div>
	{% else %}
	    <p>No earphone are available.</p>
	{% endif %}
{% endblock content %}